<!-- This footer should be hidden by default and shown when there are todos -->
<footer id="foot" class="footer" {{#numberOfTodos}}hx-swap-oob="true"{{/numberOfTodos}}>
	<!-- This should be `0 items left` by default -->
	<span class="todo-count"><strong>${numberOfIncomplete}</strong> todo(s) left</span>
	<!-- Remove this if you don't implement routing -->
	<ul class="filters">
		<li>
			<a {{#filterAll}}class="selected" {{/filterAll}}href="?" hx-swap="none">All</a>
		</li>
		<li>
			<a {{#filterActive}}class="selected" {{/filterActive}}href="?filter=active" hx-swap="none">Active</a>
		</li>
		<li>
			<a {{#filterCompleted}}class="selected" {{/filterCompleted}}href="?filter=completed" hx-swap="none">Completed</a>
		</li>
	</ul>
	<!-- Hidden if no completed items are left ↓ -->
	<form method="delete" action="/completed?filter={{filter}}" hx-swap="none">
		<input type="hidden" name="_method" value="delete"/>
		<button class="clear-completed" type="submit">Clear completed</button>
	</form>
</footer>
