<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Template • TodoMVC</title>
		<link rel="stylesheet" href="/webjars/todomvc-common/base.css">
		<link rel="stylesheet" href="/webjars/todomvc-app-css/index.css">
		<script src="/webjars/htmx.org/dist/htmx.js"></script>
	</head>
	<body hx-boost="true">
		<section class="todoapp">
			<header class="header">
				<h1>todos</h1>
				{{#form}}
				<form id="new-todo" action="/" method="post" hx-swap="none" hx-swap-oob="true">
					<input class="new-todo" placeholder="What needs to be done?" name="title" autofocus value="{{title}}">
				</form>
				{{/form}}
			</header>
			<!-- This section should be hidden by default and shown when there are todos -->
			<section class="main">
				<input id="toggle-all" class="toggle-all" type="checkbox">
				<label for="toggle-all">Mark all as complete</label>
				{{$hasTodos}}
				<ul id="todos" class="todo-list" {{#action}}hx-swap-oob="{{.}}"{{/action}}>
					<!-- These are here just to show the structure of the list items -->
					<!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
					{{#todos}}{{<todo}}{{/todo}}{{/todos}}
				</ul>
				{{/hasTodos}}
			</section>
			{{#foot}}
			<!-- This footer should be hidden by default and shown when there are todos -->
			<footer id="foot" class="footer" {{#numberOfTodos}}hx-swap-oob="true"{{/numberOfTodos}}>
				<!-- This should be `0 items left` by default -->
				<span class="todo-count"><strong>{{numberOfIncomplete}}</strong> todo(s) left</span>
				<!-- Remove this if you don't implement routing -->
				<ul class="filters">
					<li>
						<a {{#filterAll}}class="selected" {{/filterAll}}href="?" hx-swap="none">All</a>
					</li>
					<li>
						<a {{#filterActive}}class="selected" {{/filterActive}}href="?filter=active" hx-swap="none">Active</a>
					</li>
					<li>
						<a {{#filterCompleted}}class="selected" {{/filterCompleted}}href="?filter=completed" hx-swap="none">Completed</a>
					</li>
				</ul>
				<!-- Hidden if no completed items are left ↓ -->
				<form method="delete" action="/completed?filter={{filter}}" hx-swap="none">
					<input type="hidden" name="_method" value="delete"/>
					<button class="clear-completed" type="submit">Clear completed</button>
				</form>
			</footer>
			{{/foot}}
		</section>
		<footer class="info">
			<p>Double-click to edit a todo</p>
			<!-- Remove the below line ↓ -->
			<p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
			<!-- Change this out with your name and url ↓ -->
			<p>Created by <a href="http://todomvc.com">you</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>
	</body>
</html>
