<li {{$action}} {{/action}}id="todo-{{id}}"{{#completed}} class="completed"{{/completed}}>
	<div class="view">
		<form method="put" action="/{{id}}/toggle?filter={{$filter}}{{/filter}}" hx-swap="none">
			<input type="hidden" name="_method" value="put"/>
			<input class="toggle" type="checkbox"{{#completed}} checked{{/completed}} onchange="this.form.requestSubmit()"></index>
			<label>{{title}}</label>
		</form>
		
		<form method="delete" action="/{{id}}?filter={{$filter}}{{/filter}}" hx-swap="none">
			<input type="hidden" name="_method" value="delete"/>
			<button class="destroy" type="submit"></button>
		</form>
	</div>
	<input class="edit" value="Create a TodoMVC template"></input>
</li>
